<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>STF</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body >
    <div id="vue-app">     <!-- A grey horizontal navbar that becomes vertical on small screens -->
         <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/index.html">STF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- app game -->
    <div id="app-game"  class="container" style="margin-top:10px;">
      <button @click="startGame" class="btn btn-primary">Game Start</button>
      <h4>Nyawa: {{ nyawa }}</h4>
      <div class="row">
        <div class="col" >
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster1" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster2" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster3" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster4" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster5" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster6" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster7" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster8" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster9" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster10" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster11" @click="tembakMonster"/>
        </div>
        <div class="col">
          <img src="/images/scary-monster.png" class="img-fluid"alt=""v-if="muncul.monster12" @click="tembakMonster"/>
        </div>
      </div>
      <div class="jumbotron"  v-if="nyawa == 0">
        <h2 class="text-center">Game Over, Your Point {{ point }}</h2>
        <div class="form-group">
          <input type="text" name="name" id="name" value="" v-model="name" class="form-control" autofocus="" placeholder="Player Name"/>
        </div>
        <button class="btn btn-primary btn-block" @click="sendPlayerPoint"type="button">Send To Leader Board</button>
      </div>
    </div>


    <!-- jQuery library -->
    <script src="/js/jquery.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/faker.js">
    </script>
    <script src="/js/bootstrap-notify.min.js">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script charset="utf-8" src="/js/axios-core.js"></script>
    <script src="https://unpkg.com/vue@2.5.15/dist/vue.js">
    </script>
    <script src="/js/vue-game.js" charset="utf-8"></script>

  </body>
</html>
